{%extends 'theme/'+GetConfig('theme')+'/layout.html'%}

{%block content%}
<div class="container">
    <center>
        <h1>输入密码进行查看</h1>
        <form action="" method="post" class="form-horizontal">
            <div class="input-group col-xs-6">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-lock" aria-hidden="true"></i>密码
                </span>
                <input name="password" class="form-control" type="password" />
            </div>
            <br>
            <div class="form-group center">
                <button type="submit" class="btn btn-primary btn-large">
                    <i class="fa fa-location-arrow"></i>
                    查看
                </button>
            </div>
        </form>
    </center>
</div>
{%endblock content%}
